<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Budget Tracker</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/application.css?v=4">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand <%= if (current_user) { %>navbar-brand-centered<% } %>" href="/">Budget Tracker</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <%= if (current_user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= userPath({ user_id: current_user.ID }) %>">
                            <%= current_user.Email %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signout">Sign Out</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/signin">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/new">Sign Up</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <%= partial("flash.plush.html") %>
            <%= yield %>
    </div>
</body>

</html>